* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #FFE9E4;
  flex-wrap: wrap;
  max-width: 87.5rem;
  min-width: 40em;
}
/** this is a block for container space */
.mapweb {
  background-color: #FFF;
  width: 60%;
  position: relative;
  justify-content: space-evenly;
  margin: 0;
  left: 20.5%;
  border-radius: 0.5em;
  top: 12.5em;
}
/** mapweb nav, mapweb ul li and others are items of mapweb container */
.mapweb nav{
  padding: 0.9375em 0.9375em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
}

.mapweb ul li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  padding: 0px 0.25em;
  font-size: 1.1em;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
  cursor: pointer;
}
.mapweb ul li a{
  color: #FF8B72;
}

.mapweb a {
  text-decoration: none;
}
.mapweb nav p{
  padding: 0px 0.625em;
  color: #FF8B72;
  font-size: 2em;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold 700;
}
/** mapweb nav, mapweb ul li and others are items of mapweb container (end) */


/** this is an image (the image belongs to the container block) */

#teamAbout{
  width: 40%;
}

/** ------------------------ this is the container for the mapweb block ----------------- */ 
.content{
  display: flex;
  padding-bottom: 3.125em;
}

.moreInfo{
  padding: 0.625em 1.5625em;
  margin: 0;
}

.moreInfo h1{
  font-family: 'Balsamiq Sans', cursive;
  color: #FF8B72;
  font-size: 1.8125em;
}

.moreInfo p{
  color: #FF8B72;
  font-size: 1.5625em;
  padding: 18px;
  font-weight: 400;
}

.moreInfo button{
  border-radius: 0.5em;
  padding: 0.3125em;
  border-color: #FF8B72;
  background-color: transparent;
  color: #FF8B72;
  outline: none;
  border-style: solid;
  position: relative;
  left: 30%;
}

.moreInfo button:hover{
  color: #FFF;
  background-color: #FF8B72;
  transition: all 0.1s ease 0.2s;
  font-weight: 400;
  cursor: pointer;
}
/** ------------------------ this is the container for the mapweb block (end)----------------- */ 
