*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

.navegation_bar{
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    background: #B6B6B6;
}
.navegation_bar .logo{
    padding: 0 20px;
    font-weight: 800;
    font-size: 4rem;
}
.navegation_bar ul li {
    list-style: none;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 800;
    font-size: 1.5rem;
}

.header1{
    position: absolute;
    text-align: center;
    bottom: 40%;
}

.container {
    width: 100vh;
    height: 100%;
}